.mainLayout {
   display: grid;
   //template-columns content 8/12 and sidebar 4/12
   grid-template-columns: 66% 34%;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 'main-contents sidebar';
   .mainLayout__content {
      grid-area: main-contents;
   }
   aside {
      grid-area: sidebar;
      background-color: var(--pink);
   }
}

@media (max-width: 995px) {
   .mainLayout {
      grid-template-columns: 1fr;

      .mainLayout__content {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
      }
      aside {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
      }
   }
}
