.postCard {
   background-color: var(--card-background);
   border-radius: var(--border-radius);
   padding: 20px;
   .postCard__picture {
      img {
         height: auto;
         vertical-align: middle;
         border: 0;
         max-width: 100%;
         border-radius: var(--border-radius);
      }
      .postCard__category {
         top: 10px;
         left: 10px;
      }
   }
   .postCard__content {
      .postCard__title {
         font-size: 1.4rem;
         font-weight: 500;
         min-height: 50px;
         display: flex;
         align-items: center;
      }
      .postCard__list {
         justify-content: flex-start;
         li {
            padding: 10px;
            border-radius: 5px;
            background-image: linear-gradient(
               to right top,
               rgb(106, 90, 249),
               rgb(214, 110, 253)
            );
            cursor: pointer;
            font-size: 0.8rem;
            svg {
               margin-right: 5px;
            }
         }
      }
      .postCard__text {
         font-size: 1rem;
         line-height: 1.5;
         margin: 16px 0;
         font-weight: 500;
      }
   }
}

@media (max-width: 995px) {
   .postCard {
      .postCard__content {
         .postCard__title {
            font-size: 1.1 rem;
            font-weight: 500;
         }
         .postCard__text {
            font-size: 14px;
         }
      }
   }
}
