.tooltip {
   position: relative;
   z-index: var(--tooltip-zIndex);
   .tooltip__text {
      display: none;
      position: absolute;
      width: 100%;
      min-width: 120px;
      width: auto;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      z-index: var(--tooltip-zIndex);
      transition: display 0.3s ease-in-out;
      background-color: var(--pink);
   }
   &:hover {
      .tooltip__text {
         display: flex;
      }
   }
   &-top {
      .tooltip__text {
         top: -30%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &-bottom {
      .tooltip__text {
         top: 140%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &-left {
      .tooltip__text {
         top: 50%;
         left: -130%;
         transform: translate(-50%, -50%);
      }
   }
   &-right {
      .tooltip__text {
         top: 50%;
         left: 210%;
         transform: translate(-50%, -50%);
      }
   }
}
